- period = Period.find(period_id.to_i)
- garde = period.gardes.select {|g| g.date == date.to_date && g.time == time}.first
- if garde
  = link_to content_tag(:span, nil, class: "glyphicon glyphicon-remove"), garde_path(garde), method: :delete, remote: true,
    title: "Détruire garde - #{time} - #{l(date.to_date)}",
    data: {confirm: "Etes-vous sûr ?"}, class: "btn btn-danger btn-xs" if can?(:destroy, :gardes)

  &nbsp;

  = link_to garde.candidate_list, "#", class: "tags",
    data: {placeholder: "saisir votre nom ici", type: "select2", url: garde_path(garde),
    value: garde.candidate_list, name: "candidate_list"}

- else
  = link_to content_tag(:span, nil, class: "glyphicon glyphicon-plus"), gardes_path(garde: {date: date, time: time, period_id: period.id}), method: :post, remote: true, class: "btn btn-default btn-xs", title: "Nouvelle garde - #{time} - #{l(date.to_date)}"if can?(:create, :gardes)
