- if garde
  = link_to content_tag(:span, nil, class: "glyphicon glyphicon-trash"), garde_path(garde), method: :delete, remote: true,
    title: "Détruire garde - #{time} - #{l(date.to_date)}",
    data: {confirm: "Etes-vous sûr ?"}, class: "btn btn-danger btn-xs" if can?(:destroy, garde)

  &nbsp;

  %span.candidates= render 'assignments/assignment', garde: garde

- else
  = link_to content_tag(:span, nil, class: "glyphicon glyphicon-plus"),
    gardes_path(garde: {date: date, time: time, period_id: period_id, holiday: true}),
    method: :post, remote: true, class: "btn btn-default btn-xs create-garde",
    title: "Nouvelle garde - #{time} - #{l(date.to_date)}" if can?(:create, Garde)
