%h2
  Nouvelle garde
  = " - " + params[:time] + " - " + l(params[:date].to_date) if params[:date].present? && params[:time].present?

= simple_form_for @garde, html: {class: "form-horizontal"} do |f|
  .form-group.date.optional.garde_date
    = f.label :date, class: "date optional col-lg-2 control-label"
    .col-lg-2
      = f.date_field :date, class: "date optional form-control"
  = f.input :time, collection: Garde::TIMES, controls_html: {class: 'col-lg-2'}
  .form-group
    .col-lg-offset-2.col-lg-2
      = f.button :submit, "Enregistrer"
