%h2.text-center Historique des modifications de #{@garde.time_date}

- if @garde.activities.any?
  %table.table
    %thead
      %tr
        %th Horodateur
        %th Utilisateur
        %th Anciens candidats
        %th Nouveaux candidats
    - @garde.activities.order(:created_at).each do |activity|
      %tr
        %td= l activity.created_at, format: :long
        %td= activity.owner
        %td= activity.parameters[:old_candidates].flatten.map(&:upcase).join(", ")
        %td= activity.parameters[:new_candidates].map(&:upcase).join(", ")
- else
  Aucune activité pour cette garde

%hr

= link_to "Retour à l'historique complet", activities_path, class: "btn btn-default"
