%h2.text-center= "Choix des gardes " + @period.name

.row
  .col-lg-offset-3.col-lg-6
    .btn-group
      = link_to "Ouvrir le mode d'emploi", "#", class: "btn btn-primary btn-lg", data: {toggle: "modal", target: "#modeEmploi"}
      = link_to "Imprimer ce tableau", choix_path(format: "xls"), class: "btn btn-info btn-lg"

%br

- if current_user.admin?
  .row
    .col-lg-2
      %h3 Administration
    .col-lg-8
      .btn-group
        = link_to "Initialiser/Reinitialiser les gardes sur la période", populate_period_path(id: @period.id), class: "btn btn-success btn-lg"
        = link_to "Modifier la période", edit_period_path(@period), class: "btn btn-lg btn-default"
      = form_for @period, html: {class: "form-inline state_machine", role: "form"} do |f|
        = f.hidden_field :state_event, value: f.object.state_transitions.first.event, class: "form-control"
        = f.submit t("activerecord.state_machines.period.events." + @period.state_transitions.first.event.to_s), class: "btn btn-info btn-lg"
  %br

- if @gardes.any?
  %ul.nav.nav-tabs
    - @mois.each_with_index do |mois, index|
      %li{class: index == 0 ? "active" : nil}
        %a{href: "##{mois}", data: {toggle: "tab"}} #{I18n.t("date.month_names")[mois]}

  .tab-content
    - @mois.each_with_index do |mois, index|
      - gardes = @mois_gardes[mois]
      .tab-pane{id: mois, class: index == 0 ? "active" : nil}
        %table.table.table-bordered
          %thead
            %tr
              %th{rowspan: 2} #{I18n.t("date.month_names")[mois]}
              %th{colspan: 2} 13h30-18h30 samedi / 8h30-18h30 dim.-fériés
              %th Nuit courte
              %th Nuit longue
            %tr
              %th &nbsp;
              %th Senior
              %th &nbsp;
              %th Senior
          - @period.days(mois).each do |date|
            %tr
              %th= l(date, format: :superlong)
              - Garde::TIMES.each_key do |time|
                - garde = @period.gardes.select {|g| g.date == date.to_date && g.time == time}.first
                %td{id: [date, time].join("-"), class: cell_css(garde)}
                  = render 'gardes/garde', time: time, date: date, garde: garde, period_id: @period.id

- else
  .row
    .col-lg-offset-4.col-lg-4
      %p Aucune garde saisie sur cette periode

.modal.fade#modeEmploi{"data-keyboard" => "true", tabindex: "-1", role: "dialog", aria: {labelledby: "modeEmploiModal", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h4.modal-title#modeEmploiModal Mode d'emploi
      .modal-body
        %p Choisissez le mois en clickant sur les noms des mois en haut de la table.
        %p Pour vous positionner sur une plage de garde, clickez sur 'Personne' si celle-ci est encore vide ou sur la liste des noms déjà présent.
        .alert.alert-warning
          %strong Chaque plage peut contenir maximum 5 noms. Vous pouvez effacer votre nom ainsi que ceux des autres personnes notées, bien sûr après avoir obtenu leur accord (de toutes manière, toute action est tracée et visible en clickant sur le lien "Activité" en haut de la page)
        %p
          Dans tous les cas, une fois votre nom rentré dans le champ appuyez sur le bouton
          %button.btn.btn-primary.btn-sm.disabled
            %span.glyphicon.glyphicon-ok
          pour valider la modification ou sur le bouton
          %button.btn.btn-default.btn-sm.disabled
            %span.glyphicon.glyphicon-remove
          pour abandonner vos modifications.
        .alert.alert-danger
          %strong Attention ! Il ne s'agit que d'un pré-planning de desiderata, qui sera validé après arbitrage entre les différentes demandes lors de la réunion du choix de gardes.
      .modal-footer
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"} Fermer

