<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="m119806592">
     <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="14" ss:Bold="1"/>
     <Interior/>
     <NumberFormat ss:Format="[$-40C]mmmm\-yy;@"/>
    </Style>
    <Style ss:ID="m119806612">
     <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="12" ss:Bold="1"/>
     <Interior/>
     <NumberFormat ss:Format="d/m/yy;@"/>
    </Style>
    <Style ss:ID="m119806652">
     <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="9" ss:Bold="1"/>
     <Interior/>
     <NumberFormat ss:Format="d/m/yy;@"/>
    </Style>
    <Style ss:ID="s9994">
     <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss"/>
     <Interior/>
    </Style>
    <Style ss:ID="s91">
     <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="9" ss:Bold="1"/>
     <Interior/>
     <NumberFormat ss:Format="d/m/yy;@"/>
    </Style>
    <Style ss:ID="s92">
     <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="9" ss:Bold="1"/>
     <Interior/>
    </Style>
    <Style ss:ID="s9991">
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="9" ss:Bold="1" ss:Italic="1"/>
     <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s9995">
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="9" ss:Bold="0" ss:Italic="1"/>
    </Style>
    <Style ss:ID="s9992">
     <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="9" ss:Bold="1" ss:Italic="1"/>
     <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
     <NumberFormat ss:Format="d/m/yy;@"/>
    </Style>
    <Style ss:ID="s9996">
     <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="9" ss:Bold="0" ss:Italic="1"/>
     <NumberFormat ss:Format="d/m/yy;@"/>
    </Style>
    <Style ss:ID="weekend_ferie_name_j">
     <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Dash" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Bold="1"/>
     <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
     <NumberFormat ss:Format="d/m/yy;@"/>
    </Style>
    <Style ss:ID="weekend_ferie_name_s">
     <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Dash" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Bold="1"/>
     <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
     <NumberFormat ss:Format="d/m/yy;@"/>
    </Style>
    <Style ss:ID="s9993">
     <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Dash" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Bold="1"/>
     <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s105">
     <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
     <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
     </Borders>
     <Font ss:FontName="Arial" x:Family="Swiss" ss:Bold="1"/>
     <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <% @mois.each do |mois| %>
    <Worksheet ss:Name="<%= (month = I18n.t("date.month_names")[mois]) %>">
      <Table ss:ExpandedColumnCount="9" ss:ExpandedRowCount="33" x:FullColumns="1" x:FullRows="1" ss:DefaultColumnWidth="62.400000000000006" ss:DefaultRowHeight="13.2">
        <Column ss:Index="3" ss:AutoFitWidth="0" ss:Width="82.8"/>
        <Column ss:AutoFitWidth="0" ss:Width="73.199999999999989"/>
        <Column ss:AutoFitWidth="0" ss:Width="81.599999999999994"/>
        <Column ss:AutoFitWidth="0" ss:Width="82.8"/>
        <Column ss:AutoFitWidth="0" ss:Width="113.39999999999999"/>
        <Column ss:AutoFitWidth="0" ss:Width="148.80000000000001"/>
        <Row ss:Height="15.600000000000001">
          <Cell ss:MergeAcross="1" ss:MergeDown="1" ss:StyleID="m119806592"><Data ss:Type="String"><%= month %></Data></Cell>
          <Cell ss:MergeAcross="3" ss:StyleID="m119806612"><Data ss:Type="String">REPONSE / GARDE</Data></Cell>
          <Cell ss:MergeAcross="1" ss:StyleID="m119806612"><Data ss:Type="String">GARDE</Data></Cell>
        </Row>
        <Row ss:Height="24.6">
          <Cell ss:Index="3" ss:MergeAcross="1" ss:StyleID="m119806652"><Data ss:Type="String" xml:space="preserve">Matin :&#10;8h30-13h30</Data></Cell>
          <Cell ss:MergeAcross="1" ss:StyleID="m119806652"><Data ss:Type="String" xml:space="preserve">Après-midi :&#10;13h30-18h30</Data></Cell>
          <Cell ss:StyleID="s91"><Data ss:Type="String" xml:space="preserve">Nuit courte :&#10;18h30-23h30</Data></Cell>
          <Cell ss:StyleID="s92"><Data ss:Type="String" xml:space="preserve">Nuit longue :&#10;18h30- 8h30</Data></Cell>
        </Row>
        <% @period.days(mois).each do |day| %>
          <Row>
            <Cell ss:StyleID="<%= (day.saturday? or day.sunday?) ? 's9991' : "s9995" %>"><Data ss:Type="String"><%= I18n.l day, format: "%A" %></Data></Cell>
            <Cell ss:StyleID="<%= (day.saturday? or day.sunday?) ? 's9992' : "s9996" %>"><Data ss:Type="String"><%= I18n.l(day) %></Data></Cell>
            <Cell ss:StyleID="<%= (day.saturday? or day.sunday?) ? 's9993' : "s9994" %>"><Data ss:Type="String"></Data></Cell>
            <Cell ss:StyleID="<%= (day.saturday? or day.sunday?) ? 's9993' : "s9994" %>"><Data ss:Type="String"></Data></Cell>
            <% Garde::TIMES.each_key do |time| %>
              <% garde = @period.gardes.select {|g| g.date == day.to_date && g.time == time}.first %>
              <Cell ss:StyleID="<%= (day.saturday? or day.sunday?) ? 's9993' : "s9994" %>"><Data ss:Type="String"><%= garde.try(:candidate_list) %></Data></Cell>
            <% end %>
          </Row>
        <% end %>
      </Table>
    </Worksheet>
  <% end %>
</Workbook>
