%h2= "Choix des gardes " + @period.name

- if @gardes.any?
  %ul.nav.nav-tabs
    - @mois.each_with_index do |mois, index|
      %li{class: index == 0 ? "active" : nil}
        %a{href: "##{mois}", data: {toggle: "tab"}} #{mois}

  .tab-content
    - @mois.each_with_index do |mois, index|
      - gardes_by_month = @mois_gardes[mois]
      .tab-pane{id: mois, class: index == 0 ? "active" : nil}
        %table.table.table-bordered
          %thead
            %tr
              %th #{mois}
              %th{colspan: 2} Matin
              %th{colspan: 2} Après-midi
              %th Nuit courte
              %th Nuit longue
          - gardes_by_month.group_by(&:date).each do |date, gardes|
            %tr
              %th= l(date, format: :superlong)
              - ["MatinJ", "MatinS", "AMJ", "AMS", "Nuit Courte", "Nuit Longue"].each do |time|
                - if (garde = gardes.select {|garde| garde.time == time}.first)
                  %td= link_to garde.candidate_list, "#", class: "tags", data: {placeholder: "saisir votre nom", type: "select2", url: garde_path(garde), value: garde.candidate_list, name: "candidate_list"}
                - else
                  %td &nbsp;
