%table.table.stats
  %thead
    %tr
      %th Nom
      %th Après-midi
      %th Journées
      %th Nuits Courtes
      %th Nuits Longues
      %th Equivalents de garde
  %tbody
    - medecins.each do |medecin|
      %tr
        %th= medecin.upcase
        %td{'data-factor' => '2'}= gardes.with_candidate(medecin).am.count
        %td{'data-factor' => '1'}= gardes.with_candidate(medecin).jj.count
        %td{'data-factor' => '2'}= gardes.with_time('nc').with_candidate(medecin).count
        %td{'data-factor' => '1'}= gardes.with_time('nl').with_candidate(medecin).count
        %th.equivalent-garde
