%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{data: {target: ".navbar-collapse", toggle: "collapse"}, type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'GardesCAP', root_path, class: 'navbar-brand'
    - if user_signed_in?
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          = render 'layouts/navigation_links'
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "Se déconnecter", destroy_user_session_path, method: :delete
        %p.navbar-text.navbar-right Bonjour, #{current_user.name} !

        %ul.nav.navbar-nav.navbar-right
          - if current_user.admin?
            %li.dropdown
              = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
                Admin
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Modifier le compte", edit_user_registration_path
                %li= link_to "Nouveau tableau de gardes", new_period_path
